
.example-spacer {
  flex: 1 1 auto;
}
.subheader{
  background-color:white;
}
.py-5{
  font-size: 50px !important;
}
.header{
  background-color:black;

}

.titulo{
   font-size: 40px !important;
  font-weight: 300;
  line-height: 1.2;
}


