<div class="container">
  <mat-toolbar>
  <span>Crear Producto</span>
  <span class="example-spacer"></span>
  <button mat-button class = "button2" routerLink="/gestionDelVendedor/productos">volver</button>
</mat-toolbar>


  <!--<mat-card style="margin-top:10px ">
  <form [formGroup]="form" (ngSubmit)="agregarProducto()">
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
      <label >nombre</label>
      <input matInput formControlName="nombre" type="text" class="form-control" id="firstName" placeholder="" value="" required>

  </mat-grid-tile>


  <mat-grid-tile [colspan]="1" [rowspan]="1" >
    <mat-label>precio</mat-label>
    <input matInput formControlName="precio" type="text" class="form-control" id="firstName" placeholder="" value="" required>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-label>descripcion</mat-label>
    <input matInput formControlName="descripcion" type="text" class="form-control" id="firstName" placeholder="" value="" required>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <mat-label>stock</mat-label>
    <input matInput formControlName="stock" type="text" class="form-control" id="firstName" placeholder="" value="" required>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <mat-label>imagen</mat-label>
    <input matInput formControlName="imagen" type="text" class="form-control" id="firstName" placeholder="" value="" required>
  </mat-grid-tile>



<mat-grid-tile [colspan]="2" [rowspan]="3">
  <button  type = "submit" [disabled]="form.invalid" mat-raised-button class="button  btn btn-lg btn-primary ">Aceptar</button>
</mat-grid-tile>

</mat-grid-list>
</form>
</mat-card>

<mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>-->






<div class="container">

    <div class="row g-5">
      <div class="col-md-7 col-lg-8">

        <form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="agregarProducto()">
          <div class="row g-3">
            <div class="col-sm-6">
              <label>nombre</label>
              <input matInput formControlName="nombre" type="text" class="form-control" id="firstName" placeholder="" value="" required>
            </div>

            <div class="col-sm-6">
              <mat-label>precio</mat-label>
              <input matInput formControlName="precio" type="text" class="form-control" id="firstName" placeholder="" value="" required>
            </div>

            <div class="col-sm-6">
              <mat-label>stock</mat-label>
             <input matInput formControlName="stock" type="text" class="form-control" id="firstName" placeholder="" value="" required>
            </div>

            <div class="col-12">
              <mat-label>descripcion</mat-label>
              <input matInput formControlName="descripcion" type="text" class="form-control" id="firstName" placeholder="" value="" required>
            </div>

            <div class="col-12">
              <mat-label>imagen</mat-label>
              <input matInput formControlName="imagen" type="text" class="form-control" id="firstName" placeholder="" value="" required>
            </div>

          </div>



          <hr class="my-4">

          <button [disabled]="form.invalid" class="button3 w-100  tn-primaryb btn-lg " type="submit">Agregar Producto</button>
        </form>
        <div class="py-5 text-center">
        </div>
      </div>
    </div>

</div>




</div>



